*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.d1{
    width: 100%;
    height: 100vh;
    padding: 10px;

}

nav{
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.nav-btn{
    padding-left: 370px;
    padding-top: 20px;
}
ul{
    list-style: none;
    display: flex;
}
li{
    padding: 10px;
    width: 100px;
    color: black;
    padding-left: 50px;
    padding-top: 15px;
}

a{
    text-decoration: none;
    color: black;
    
}
i{
    font-size: 20px;
    margin: 10px;
}

.box{
    width: 100%;
    display: flex;
    height: 600px;
   
}


.logo{
    display: flex;
    padding-right: 30px;
}

.services{
  text-align: center;
    
}

.card{
    width: 200px;
    padding: 10px;
    box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.43);
    margin: 15px;
    display: flex;
    
}

.card:hover{
    box-shadow: 8px 9px 33px -10px blue;
}
.card-holder{
    display: flex;
    padding-left: 39px;

}
.doc{
    text-align: center;
}

.search{
    display: flex;
    padding-left:90px ;
    padding-top:3px ;
    padding-bottom: 10px;
    
  
    
}
.sear-1{
    padding-left: 250px;
    width: 200px;
    gap: 10px;
    padding-right:20px ;
}
.button{
   
    padding-left:400px ;

}

.Doctor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top:10px ;
}

.card-1 {
    width: 100% ;
    padding: 5px;
    margin: 0;
    box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.43);
    box-sizing: border-box;
   
}


.extra-doctor {
  display: none;
}

.Doctor {
  display: flex;
  gap: 90px;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 60px;
}

.Button {
  text-align: center;
  margin-top: 20px;

}

.Choose{
    font-style: bold;
    text-align: center;
}

.Card-2{
    display: flex;
   
}

.Card-2:hover{
     box-shadow: none;

}

.card-2{
     width: 200px;
    padding: 10px;
    box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.43);
    margin: 15px;
    display: flex;

}
.card-2:hover{
    transform: translateY(-7px);
}


.Appointment{
    font-style: bold;
    text-align: center;
}

.Book-Appointment{
    display: flex;
    text-align: center;
}

.HOSPITAL{
   display: flex;
}

.Years{
    display: flex;
}

.box-1{
    background-color: rgba(213, 237, 247, 0.685);
    width: 100%;
    height: 400px;
    
}


/* About page */


.Box-About{
    background-color: rgba(183, 183, 246, 0.174);
    width: 100%;
    height: 400px;
    display: flex;
    padding: none;
    

}
.About-Hos{
    padding: 30px;

}
.img{
    padding-right: 10px;
}
.Experience{
    padding:10px ;
}
.Expert{
    padding-left: 50px;
    padding-top: 10px;

}
.Happy{
    padding-left: 80px;
    padding-top: 30px;
}

.Years{
    display: flex;
}

.About-doctor{
    display: flex;
}
.img-hospital{
  padding-left: 50px;
  border-radius: 15px;
}
.Multi-spec{
    padding-top: 30px;
    padding-left: 30px;
}
.About-Box{
    background-color: rgba(183, 183, 246, 0.174);
    width: 100%;
    height: 300px;

}
.Mission{
    display: flex;
    padding-left: 150px;
    padding-top: 30px;
    padding-right: 100px;
    gap: 50px;

}
.mission-1{
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  
    
    
}
.vision{
    padding-left: 40px;
    padding-right: 100px;
}

.Vision_our{
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    padding-right: 10px;
    padding-left: 30px;
    
}
.vision-1{
    padding-left:40px ;
    padding-right: 80px;
}
.About-card-card{
    display: flex;
    padding-left: 80px;
}
.About-Card{
     width: 250px;
    padding: 10px;
    box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.43);
    margin: 15px;
    padding-right: 30px;
    gap: 10px;
}
.Department{
    display: flex;
}
.About-Depart{
    padding-left: 25px;
    padding-top: 20px;

}
.Book-Appointment-1{
    display: flex;
    padding-left: 50px;
}
.About-Box-3{
    background-color: blue;
    width: 1180px;
    height: 150px;
    
   
}
.Need{
    text-align: center;
    padding-left: 50px;
    padding-right: 20px;
    
}
.About-Need{
    display: flex;
}
.About-button{
    padding-top: 50px;
    padding-left: 490px;
}


   
/* Doctors */

.doc-box{
    width: 100%;
    height: 250px;
    background-color: rgba(207, 207, 244, 0.263);
    
}
.Doctors-1{
    display: flex;
    opacity: none;
    padding-left: 60px;
   
}
.img-doc{
    padding-left: 390px;
}
.doc-search{
    padding-left: 40px;
    padding-right: 40px;
}
.DOCTORS{
    background-color:white;
    width: 100%;
    height: 60px;
    padding-right: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.43);
}
.doc-card-1{
    width: 100px;
    padding: 10px;
    box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.43);
    padding-top: 10px;
    margin:15px;

}
.card-body-1{
    text-align: center;
}
.DOC-Doc-Card{
    display: flex;
    transform: translate(-5px);
    display: flex;
}
.doc-card-1:hover{
    transform: translateY(-5px);

}





/* Services */

.Services{
    width: 100%;
    height: 400px;
    background-color: rgba(98, 98, 230, 0.212);
    display: flex;
}
.services-1{
    padding-left:460px;
    padding-top: 15px;
}
.serv-box{
    width: 200px;
    height: 250px;
    background-color: whitesmoke;
    box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.43);
    padding-top: 10px;
    padding-left: 30px;
}
.serv-box:hover{
    transform: translateY(-8px);
}
.services-2{
    padding-left: 155px;
    text-align: center;
    display: flex;
    gap: 50px;
}
.serv-box-3{
    width: 100%;
    height: 455px;
    background-color: rgba(127, 127, 219, 0.322);
}
.serv{
    display: flex;
    gap: 50px;
    padding-top: 40px;
    padding: 20px;
}
.vertical-line{
    width: 2px;
    height: 90px;
    border: none;
    background-color: black;
}
.ser-our{
    width: 200px;
    
}

/* Footer */

.footer{
    display: flex;
    justify-content: center;
  
   
}
.footer-box{
    width: 100%;
    padding: 20px;
    border: solid 1px;
    background-color: rgba(3, 3, 96, 0.927);
    box-shadow: 0 2px 8px;
    display: flex;
    
}
.footer{
    padding-bottom: 10px;
    text-align: center;
}
.About-Hospital{
    padding-left: 200px;
}
.services-footer{
    padding-left: 200px;
    color: white;
    font-size: 10px;
    
    
}
.contact-footer{
    padding-left: 200px;
    color: white;
    font-size: 10px;

}