*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.d1{
    width: 100%;
    height: 100vh;
    padding: 10px;

}

nav{
    background-color: skyblue;
    padding-left:20px ;
    align-items: center;
    display: flex;
    text-align: right;
    
     
    
}
ul{
    list-style: none;
    display: flex;
   
}
li{
    padding: 10px;
    width: 110px;
    
}
li:hover{
    color: blue;
    text-decoration: none;
    
}
a{
    text-decoration: none;
    color:rgb(14, 14, 14);
    align-items: center;
    
}

i{
    font-size: 30px;
    margin-left: 20px;
    
   
    
}
.content{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 177, 229, 0.169);
    padding-bottom:0;
    opacity: 1;

    
}

.N1{
    align-items: start;
    align-self: flex-start;
}

.btn{
    color: rgb(106, 197, 233);
    padding-top: 15px;
    padding-left:250px ;

}

.plus{
    width: 28px;
    height: 28px;
    padding-right:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 28px;
    padding-top:30px ;
}
.hospital{
    padding-right:70px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    line-height: 1.1;
    


}

